In [13]:
import pandas as pd
import csv
df = pd.read_csv("/resources/data/train.csv")
df

,LOAN_ID,AMOUNT,DUE_MORTGAGE,VALUE,REASON,OCC,TJOB,DCL,CLT,CL_COUNT,RATIO,CONVICTED,VAR_1,VAR_2,VAR_3,DEFAULTER
0,3682648,15100,71168.0,97480.0,1.0,0.0,9.0,0.0,119.166667,19.0,NaN,0,0,1,2.00950,1
1,3682649,21100,81747.0,109840.0,1.0,0.0,NaN,0.0,174.786162,24.0,40.067527,0,0,1,1.27240,0
2,3682650,15900,94262.0,128414.0,1.0,3.0,4.0,NaN,242.736126,42.0,39.231892,1,0,2,1.47250,0
3,3682651,12900,110899.0,124480.0,1.0,2.0,7.0,0.0,204.900000,40.0,NaN,0,1,2,1.57010,1
4,3682652,24600,NaN,35523.0,0.0,0.0,21.0,0.0,84.111988,15.0,29.865634,0,0,1,1.50130,0
5,3682653,15000,65742.0,86608.0,0.0,0.0,NaN,0.0,289.581891,20.0,28.285563,0,0,0,1.51770,0
6,3682654,22800,75253.0,106166.0,1.0,0.0,NaN,0.0,176.339376,24.0,38.266594,0,0,1,2.43220,0
7,3682655,23200,133766.0,174085.0,NaN,3.0,26.0,3.0,333.409840,28.0,30.778638,0,0,0,0.82074,0
8,3682656,11900,117952.0,125305.0,1.0,5.0,5.0,0.0,182.172065,18.0,33.210397,0,0,0,2.23040,0
9,3682657,13700,55763.0,87480.0,1.0,4.0,9.0,0.0,194.766667,20.0,NaN,0,0,0,1.24350,0
10,3682658,7000,49831.0,66022.0,0.0,1.0,20.0,0.0,205.484583,19.0,21.865494,0,0,0,2.05320,0
11,3682659,34200,138422.0,196535.0,1.0,4.0,21.0,0.0,186.005435,22.0,38.906039,0,0,1,1.70780,0
12,3682660,9400,84799.0,105778.0,1.0,4.0,2.0,0.0,42.807205,3.0,26.966698,0,0,1,1.04730,1
13,3682661,15400,38964.0,54950.0,1.0,0.0,NaN,0.0,74.756690,15.0,41.833085,0,0,0,1.35240,0
14,3682662,25800,103497.0,144574.0,1.0,3.0,19.0,0.0,218.944828,13.0,41.145649,0,0,0,1.29390,0
15,3682663,11500,66390.0,89533.0,1.0,NaN,4.0,0.0,213.783283,16.0,31.130133,0,0,0,2.31800,0
16,3682664,12100,84090.0,100634.0,0.0,4.0,0.0,0.0,80.677885,20.0,33.783303,0,0,1,2.52490,0
17,3682665,17400,51006.0,64115.0,0.0,1.0,4.0,0.0,116.002195,17.0,32.261086,1,0,0,1.08040,0
18,3682666,22600,57661.0,95770.0,1.0,1.0,3.0,0.0,152.715066,21.0,34.873596,0,0,1,2.73610,0
19,3682667,10600,74713.0,98112.0,0.0,4.0,8.0,0.0,165.330898,34.0,32.385149,0,0,0,0.26382,0
20,3682668,25200,118458.0,150152.0,1.0,1.0,4.0,NaN,280.198021,37.0,42.997979,1,0,1,1.14930,0
21,3682669,8600,49930.0,57256.0,1.0,1.0,0.0,0.0,172.212815,21.0,35.168703,0,0,0,1.61750,0
22,3682670,13800,64385.0,84739.0,1.0,1.0,4.0,3.0,183.180257,29.0,37.083413,0,2,3,1.01980,0
23,3682671,10600,64194.0,73574.0,1.0,NaN,19.0,0.0,158.246550,11.0,33.566312,0,0,0,0.46997,0
24,3682672,7500,72638.0,91405.0,1.0,4.0,3.5,0.0,129.833333,26.0,NaN,0,0,0,0.94674,0
25,3682673,22600,40783.0,76875.0,1.0,4.0,8.0,0.0,271.260197,18.0,39.964573,1,0,0,1.86190,0
26,3682674,8500,57002.0,78059.0,1.0,0.0,0.0,0.0,57.309765,21.0,23.531188,0,0,8,1.73400,0
27,3682675,15200,44599.0,76436.0,1.0,3.0,5.0,0.0,135.504348,9.0,29.393997,1,0,0,1.35250,0
28,3682676,18000,46241.0,68009.0,1.0,3.0,26.0,0.0,280.007081,17.0,36.082975,0,1,1,2.48260,0
29,3682677,22300,98523.0,140918.0,1.0,4.0,NaN,0.0,208.288933,20.0,29.228895,0,0,0,1.10520,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3546,3686194,53700,208096.0,297260.0,1.0,4.0,4.0,1.0,161.485251,29.0,41.656731,0,1,2,2.11390,1
3547,3686195,10700,120036.0,137070.0,1.0,4.0,17.0,1.0,174.690461,33.0,30.968906,0,0,0,1.97450,0
3548,3686196,16100,32817.0,52462.0,1.0,4.0,3.0,0.0,260.571021,34.0,40.357344,0,0,0,2.13580,0
3549,3686197,26600,63244.0,100312.0,1.0,0.0,16.0,0.0,140.510546,30.0,38.437445,1,0,0,1.78760,0
3550,3686198,22100,71563.0,97995.0,1.0,3.0,9.0,0.0,192.313609,19.0,34.931021,0,0,1,2.08500,0
3551,3686199,41700,NaN,53058.0,1.0,0.0,NaN,NaN,109.870117,20.0,26.999440,0,6,0,1.14380,0
3552,3686200,18100,57887.0,86950.0,1.0,0.0,16.0,0.0,166.333333,14.0,NaN,0,0,2,2.49940,1
3553,3686201,17100,10765.0,171932.0,0.0,3.0,24.0,0.0,80.991975,21.0,29.856959,0,0,2,0.87121,0
3554,3686202,13100,65913.0,85508.0,1.0,1.0,4.0,3.0,186.644994,30.0,39.428718,0,2,2,2.29360,0
3555,3686203,11200,47588.0,52890.0,0.0,3.0,21.0,1.0,225.480750,18.0,34.957077,0,1,1,0.90526,0
3556,3686204,14000,71324.0,80992.0,1.0,0.0,2.0,0.0,243.940514,26.0,32.185036,1,0,2,1.37920,0
3557,3686205,25700,144515.0,211210.0,0.0,4.0,7.0,0.0,200.091308,27.0,39.012928,0,0,0,1.99110,0
3558,3686206,25100,38899.0,72480.0,1.0,0.0,3.0,1.0,115.666667,22.0,NaN,0,0,3,2.68710,1
3559,3686207,27900,114316.0,150829.0,1.0,3.0,5.0,0.0,286.386126,24.0,38.591924,0,0,0,2.25720,0
3560,3686208,11100,63746.0,86480.0,0.0,1.0,26.0,0.0,171.433333,14.0,NaN,0,0,2,1.52850,0
3561,3686209,14800,30109.0,42731.0,1.0,3.0,17.0,0.0,87.641823,17.0,23.407362,0,0,0,1.57540,0
3562,3686210,15700,89211.0,110411.0,0.0,4.0,2.0,0.0,111.429950,25.0,39.222804,1,0,1,2.30550,0
3563,3686211,11800,67958.0,86196.0,1.0,0.0,3.0,NaN,176.658568,35.0,30.263970,0,0,0,0.51141,0
3564,3686212,10500,64803.0,76747.0,1.0,1.0,11.0,0.0,246.018012,37.0,41.433844,0,0,4,1.14890,0
3565,3686213,21000,69132.0,105414.0,1.0,0.0,NaN,0.0,243.164257,13.0,40.173651,0,2,1,1.71410,0
3566,3686214,22600,73466.0,88137.0,1.0,0.0,2.0,0.0,112.400536,30.0,33.529228,0,0,1,1.36800,0
3567,3686215,22700,34125.0,85404.0,1.0,4.0,9.0,0.0,278.848656,18.0,38.015683,0,0,0,2.37270,0
3568,3686216,17400,51084.0,65517.0,1.0,0.0,6.0,1.0,130.837941,49.0,29.321594,0,0,3,2.23460,0
3569,3686217,25900,NaN,63436.0,1.0,0.0,25.0,0.0,149.816285,8.0,22.075764,0,0,0,1.28960,0
3570,3686218,10000,26326.0,87114.0,0.0,4.0,20.0,0.0,245.365247,11.0,25.013965,0,0,0,2.70410,0
3571,3686219,24000,90374.0,136074.0,1.0,4.0,NaN,1.0,208.784271,21.0,30.559216,1,0,0,1.07410,0
3572,3686220,11400,64336.0,79837.0,1.0,1.0,5.0,0.0,89.789156,14.0,27.909268,0,0,2,1.81190,0
3573,3686221,14900,50469.0,69402.0,1.0,0.0,3.0,0.0,192.177942,13.0,36.657081,0,0,0,1.38980,0
3574,3686222,11100,116260.0,143298.0,1.0,4.0,15.0,1.0,182.070793,32.0,30.042845,0,0,1,2.59190,0
3575,3686223,23600,44851.0,70171.0,1.0,1.0,6.0,0.0,165.963940,26.0,35.798158,1,0,1,1.55970,0

In [14]:
#Due mortgage

#checking corr b/w DUE_MORTGAGE and VALUE

print(df.corr().loc['DUE_MORTGAGE', 'VALUE'])

0.875765894785

In [15]:
print(df.loc[:,['DUE_MORTGAGE', 'VALUE']].head())

   DUE_MORTGAGE     VALUE
0       71168.0   97480.0
1       81747.0  109840.0
2       94262.0  128414.0
3      110899.0  124480.0
4           NaN   35523.0

In [16]:
df_1=(df.loc[:,['DUE_MORTGAGE', 'VALUE']]).dropna()
df_1['ratio'] = df_1['VALUE'] / df_1['DUE_MORTGAGE']
print(df_1["ratio"].describe())

count    3207.000000
mean        1.713964
std         1.622019
min         0.139513
25%         1.256689
50%         1.394256
75%         1.599618
max        51.186544
Name: ratio, dtype: float64

In [17]:
print(df_1[df_1['ratio'] > 3].shape)

(177, 3)

In [18]:
V_D = df_1[df_1['ratio'] < 3].loc[:,'ratio'].mean()

print(V_D)

1.4479857473

In [19]:
df.loc[df['DUE_MORTGAGE'].isnull() & df['VALUE'].isnull(), 'DUE_MORTGAGE'] = df['DUE_MORTGAGE'].mean()
df.loc[df['DUE_MORTGAGE'].isnull() & df['VALUE'].isnull(), 'VALUE'] = df['VALUE'].mean()

df['DUE_MORTGAGE'].fillna(df['VALUE']/V_D, inplace=True)
df['VALUE'].fillna(df['DUE_MORTGAGE']*V_D, inplace=True)

In [20]:
df.isnull().sum()

LOAN_ID           0
AMOUNT            0
DUE_MORTGAGE      0
VALUE             0
REASON          157
OCC             173
TJOB            309
DCL             337
CLT             187
CL_COUNT        130
RATIO           751
CONVICTED         0
VAR_1             0
VAR_2             0
VAR_3             0
DEFAULTER         0
dtype: int64

In [21]:
df['REASON'].fillna(df['REASON'].mode()[0], inplace=True)
df['OCC'].fillna(df['OCC'].mode()[0], inplace=True)
df['DCL'].fillna(df['DCL'].mode()[0], inplace=True)
df['CLT'].fillna(df['CLT'].mean(), inplace=True)
df['TJOB'].fillna(df['TJOB'].mean(), inplace=True)  #doubtful
df['CL_COUNT'].fillna(df['CL_COUNT'].mean(), inplace=True)
df['RATIO'].fillna(-1, inplace=True)  #replace with -1 while modeling

In [22]:
df.isnull().sum()

LOAN_ID         0
AMOUNT          0
DUE_MORTGAGE    0
VALUE           0
REASON          0
OCC             0
TJOB            0
DCL             0
CLT             0
CL_COUNT        0
RATIO           0
CONVICTED       0
VAR_1           0
VAR_2           0
VAR_3           0
DEFAULTER       0
dtype: int64

In [23]:
df['income']=df['AMOUNT']/df['RATIO']

In [24]:
df['income']=df['AMOUNT']/df['RATIO']

s=df[df['income']>0].groupby(['OCC']).mean()['income']

df.loc[(df['income']<0) & (df['OCC']==0.0), 'income'] = s[0.0]
df.loc[(df['income']<0) & (df['OCC']==1.0), 'income'] = s[1.0]

df.loc[(df['income']<0) & (df['OCC']==2.0), 'income'] = s[2.0]

df.loc[(df['income']<0) & (df['OCC']==3.0), 'income'] = s[3.0]
df.loc[(df['income']<0) & (df['OCC']==4.0), 'income'] = s[4.0]

df.loc[(df['income']<0) & (df['OCC']==5.0), 'income'] = s[5.0]

df['RATIO']=df['AMOUNT']/df['income']

In [25]:
print(df["RATIO"])

0       23.514821
1       40.067527
2       39.231892
3       29.339009
4       29.865633
5       28.285563
6       38.266594
7       30.778638
8       33.210397
9       21.716342
10      21.865494
11      38.906039
12      26.966698
13      41.833085
14      41.145649
15      31.130133
16      33.783303
17      32.261086
18      34.873596
19      32.385149
20      42.997979
21      35.168703
22      37.083413
23      33.566312
24      11.888508
25      39.964573
26      23.531188
27      29.393997
28      36.082975
29      29.228895
          ...
3546    41.656731
3547    30.968906
3548    40.357344
3549    38.437445
3550    34.931021
3551    26.999440
3552    28.186640
3553    29.856959
3554    39.428718
3555    34.957077
3556    32.185036
3557    39.012928
3558    39.087550
3559    38.591924
3560    18.987617
3561    23.407362
3562    39.222804
3563    30.263970
3564    41.433844
3565    40.173651
3566    33.529228
3567    38.015683
3568    29.321594
3569    22.075764
3570    25.013965
3571    30.559216
3572    27.909268
3573    36.657081
3574    30.042845
3575    35.798158
Name: RATIO, dtype: float64

In [4]:
import pandas as pd
import csv
dt= pd.read_csv("/resources/data/test.csv")
dt.isnull().sum()


print(dt.corr().loc['DUE_MORTGAGE', 'VALUE'])


print(dt.loc[:,['DUE_MORTGAGE', 'VALUE']].head())

#value and DUE_MORTGAGE seem to be in a ratio

dt_1=(dt.loc[:,['DUE_MORTGAGE', 'VALUE']]).dropna()
dt_1['ratio'] = dt_1['VALUE'] / dt_1['DUE_MORTGAGE']

print(dt_1['ratio'].describe())

#checking for large ratios (outliers)

print(dt_1[dt_1['ratio'] > 3].shape)

#excluding these outliers and taking mean of ratio
V_D = dt_1[dt_1['ratio'] < 3].loc[:,'ratio'].mean()

print(V_D)

#use V_D for imputing DUE_MORTGAGE and VALUE as required



#finding rows where both DUE_MORTGAGE and VALUE are NaN
## print(df[df['DUE_MORTGAGE'].isnull() & df['VALUE'].isnull()].shape)

#it is a small no; imputing all such rows with means and other rows with the multiplied ratio
dt.loc[dt['DUE_MORTGAGE'].isnull() & dt['VALUE'].isnull(), 'DUE_MORTGAGE'] = dt['DUE_MORTGAGE'].mean()
dt.loc[dt['DUE_MORTGAGE'].isnull() & dt['VALUE'].isnull(), 'VALUE'] = dt['VALUE'].mean()

dt['DUE_MORTGAGE'].fillna(dt['VALUE']/V_D, inplace=True)
dt['VALUE'].fillna(dt['DUE_MORTGAGE']*V_D, inplace=True)



dt.isnull().sum()
##print(df['REASON'].describe())
dt['REASON'].fillna(dt['REASON'].mode()[0], inplace=True)
dt['OCC'].fillna(dt['OCC'].mode()[0], inplace=True)
dt['DCL'].fillna(dt['DCL'].mode()[0], inplace=True)
dt['CLT'].fillna(dt['CLT'].mean(), inplace=True)
dt['TJOB'].fillna(dt['TJOB'].mean(), inplace=True)  #doubtful
dt['CL_COUNT'].fillna(dt['CL_COUNT'].mean(), inplace=True)
dt['RATIO'].fillna(-1, inplace=True)  #replace with -1 while modeling

dt.isnull().sum()

#income
dt['income']=dt['AMOUNT']/dt['RATIO']

#imputing values of ratio
s=dt[dt['income']>0].groupby(['OCC']).mean()['income']

dt.loc[(dt['income']<0) & (dt['OCC']==0.0), 'income'] = s[0.0]
dt.loc[(dt['income']<0) & (dt['OCC']==1.0), 'income'] = s[1.0]

dt.loc[(dt['income']<0) & (dt['OCC']==2.0), 'income'] = s[2.0]

dt.loc[(dt['income']<0) & (dt['OCC']==3.0), 'income'] = s[3.0]
dt.loc[(dt['income']<0) & (dt['OCC']==4.0), 'income'] = s[4.0]

dt.loc[(dt['income']<0) & (dt['OCC']==5.0), 'income'] = s[5.0]

dt['RATIO']=dt['AMOUNT']/dt['income']

0.875518893703
   DUE_MORTGAGE     VALUE
0       67373.0   88453.0
1           NaN   76653.0
2      129927.0  178898.0
3      101049.0  115195.0
4       16131.0   70572.0
count    2150.000000
mean        1.709901
std         1.341486
min         0.150792
25%         1.262148
50%         1.390678
75%         1.617382
max        18.861284
Name: ratio, dtype: float64
(121, 3)
1.4600147525

In [5]:
dt.isnull().sum()

TEST_ID         0
LOAN_ID         0
AMOUNT          0
DUE_MORTGAGE    0
VALUE           0
REASON          0
OCC             0
TJOB            0
DCL             0
CLT             0
CL_COUNT        0
RATIO           0
CONVICTED       0
VAR_1           0
VAR_2           0
VAR_3           0
income          0
dtype: int64

In [26]:
features = ['AMOUNT', 'CLT', 'CL_COUNT', 'CONVICTED', 'DCL',
       'DUE_MORTGAGE', 'OCC', 'RATIO', 'REASON', 'TJOB',
       'VALUE', 'VAR_1', 'VAR_2', 'VAR_3', 'income', 'ratio_dv']

X = df.loc[:,features]
Y = df.loc[:,'DEFAULTER']

X_test_sub = dt[dt['TEST_ID'].notnull()].loc[:,features]

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( X, Y,
                                        test_size=0.33, random_state=12, stratify=Y)

In [36]:

X_train.drop(['ratio_dv'], axis=1, inplace=True)

/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [37]:
X_train.isnull().sum()

AMOUNT          0
CLT             0
CL_COUNT        0
CONVICTED       0
DCL             0
DUE_MORTGAGE    0
OCC             0
RATIO           0
REASON          0
TJOB            0
VALUE           0
VAR_1           0
VAR_2           0
VAR_3           0
income          0
dtype: int64

In [47]:
dt.columns

Index(['TEST_ID', 'LOAN_ID', 'AMOUNT', 'DUE_MORTGAGE', 'VALUE', 'REASON',
       'OCC', 'TJOB', 'DCL', 'CLT', 'CL_COUNT', 'RATIO', 'CONVICTED', 'VAR_1',
       'VAR_2', 'VAR_3', 'income'],
      dtype='object')

In [42]:
dt.drop(['DEFAULTER'], axis=1, inplace=True)

In [55]:
Y_train.head()

3031    0
16      0
1254    0
270     0
2291    0
Name: DEFAULTER, dtype: int64

In [46]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [50]:
dt.columns

Index(['TEST_ID', 'LOAN_ID', 'AMOUNT', 'DUE_MORTGAGE', 'VALUE', 'REASON',
       'OCC', 'TJOB', 'DCL', 'CLT', 'CL_COUNT', 'RATIO', 'CONVICTED', 'VAR_1',
       'VAR_2', 'VAR_3', 'income'],
      dtype='object')

In [51]:
s= log_reg.predict_proba(dt.drop(['TEST_ID','LOAN_ID'], axis=1))[:,1]
s

array([  8.70164431e-229,   1.58121277e-179,   0.00000000e+000, ...,
         4.89932588e-196,   1.26300693e-250,   1.63380903e-250])

In [53]:
dt['DEFAULTER'] = s

In [60]:
dt_sub = dt.loc[:, ['LOAN_ID', 'DEFAULTER']]
dt_sub.to_csv('sub.csv')